<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Приложение Игр</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/arcad">Аркады</a>
        </li>
        <li>
            <a href="/strategy">Стратегии</a>
        </li>
      </ul>
    </div>
  </nav>