.nav-wrapper {
    padding: 0 2rem;
}

/**/
.card {
    min-height: 500px;
    position: relative;
}
.card .card-action {
    font-size: .8rem;
}

.price {
    font-size: 2rem;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game h1 {
    margin-bottom: 2rem;
}

.game img {
    max-width: 600px;
    height: auto;
}

.game .price {
    font-size: 2.5rem;
}

.card-action_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}